@model IEnumerable<Food>
<h4> @Model.FirstOrDefault().SubCategory.Name</h4>
@foreach (var item in Model)
{
	<div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
		<div class="row">
			<div class="col-md-2 col-sm-12">
				<label class="text-primary" style="font-size:21px;color:maroon">@item.Name</label>
			</div>
			<div class="col-md-2 col-sm-12">
				<h4>@item.Description</h4>
			</div>

			<div class="col-md-4 col-sm-12">
				@if (item.Unit != 0)
				{
					<h4>
						@item.QuantityLeft &nbsp;					
						@item.Unit @item.Measurement
					</h4>
				}
				else
				{
					<h4>@item.QuantityLeft</h4>
				}
			</div>

			<div class="col-md-2 col-sm-12">
				<label class="text-primary" style="font-size:21px;color:black">@((item.BestBefore.Value.Date - DateTime.Now.Date).Days) day(s)</label>
			</div>

			<div class="col-md-2 col-sm-12 text-center">
				<partial name="_TableButtonFoodList" model="@item.ID" />
			</div>
		</div>
	</div>
}
<div class="p-3"></div>