@model IEnumerable<Food>
<h4> @Model.FirstOrDefault().SubCategory.Name</h4>
@foreach (var item in Model)
{
	<div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
		<div class="row">
			<div class="col-md-2 col-sm-12">
				<label class="text-primary" style="font-size:21px;color:maroon">@item.Name</label>
			</div>
			<div class="col-md-1 col-sm-12">
				
			</div>
			<div class="col-md-2 col-sm-12">
				<h4 class="text-danger">@item.Description</h4>
			</div>
			<div class="col-md-2 col-sm-12">
				<h4 class="text-danger">@item.QuantityLeft</h4>
			</div>
			<div class="col-md-2 col-sm-12">
				
			</div>
			<div class="col-md-2 col-sm-12 offset-md-1 text-center">
				<partial name="_TableButtonShoppingList" model="@item.ID"/>												
			</div>
		</div>
	</div>
}
<br />
